<h1>Recipe Form</h1>
<form  method="post" action="/new">
  <label for="name">Name:</label><br>
  <input type="text" id="n" name="n" required><br>
  <label for="description">Description:</label><br>
  <input type="text" id="d" name="d" required><br>
  <label for="rating">Rating (1 to 5):</label><br>
  <input type="text" id="r" name="r" required><br>
  <label for="prep_time">PrepTime (in minutes):</label><br>
  <input type="text" id="p" name="p" required><br><br>
  <input type="submit" value="Submit"><br>
</form>
